@font-face {
  font-family: 'Avara';
  src: url('./assets/local-fonts/Avara-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Compagnon';
  src: url('./assets/local-fonts/Compagnon-Roman.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outward Round';
  src: url('./assets/local-fonts/Outward-Round.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
